/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}

#map-canvas {
	height: 400px;
}

.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 60px;     
	border: 2px solid black;
	white-space: nowrap;
}

.JuMe-background{
	background-image: url("../images/tiles.png");
}

.bloder {
	font-weight: bolder;
}

.MainButton {
	height: 40%;
}

.jumeCard{
	height: 40%; vertical-align: middle; display: table-cell;
}

.jumeMenuBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:5px solid #84bbf3;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	height: 40%; 
	vertical-align: middle; 
	display: table-cell;
	font-size: -webkit-xxx-large;
}
.fumeMenuBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.fumeMenuBtn:active {
	position:relative;
	top:1px;
}

.textRight{
	text-align: right;
}

ul {

}

.jSlots-wrapper {
    overflow: hidden;
    display: inline-block;
    height: 100px;
    width: 100%;
}

.slot {
	padding: 0px;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.slot-item {
	width: 100%;
}

.jume-table{
	display:table;
	height: 100%;
	width: 100%;
}
.jume-cell{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.selected{
	background-color: #999999;
	color: #EEEEEE;
}