<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>JuMeFood</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="css/ionic.min.css">
		<link rel="stylesheet" href="css/JuMeFood.css">

		<script src="js/lib/ionic.bundle.min.js"></script>
		<script src="js/lib/SQLitePlugin.js"></script>
		<script src="js/lib/PushNotification.js"></script>
		<script src="js/lib/PhoneGapModule.js"></script>
		<script src="js/lib/statusbarnotification.js"></script>
		<script src="js/lib/moment-with-langs.min.js"></script>
		<script src="js/lib/MQTTPlugin.js"></script>
		<script src="js/lib/openfb.js"></script>
		<script src="js/lib/liquid.js"></script>
		<script src="js/lib/liquid.helper.oauth.js"></script>
		<script src="js/lib/ngTouch.js"></script>
		<script src="js/lib/datepicker.js"></script>
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/jquery.jSlots.js" charset="utf-8"></script>
		<script src="js/lib/jquery.easing.1.3.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.9/src/markerwithlabel_packed.js"></script>
		<script src="https://apis.google.com/js/client.js"></script>

		<script src="js/app.js"></script>
		<script src="js/FacebookAPI.js"></script>
		<script src="js/ServerAPI.js"></script>
		<script src="js/MQTTActions.js"></script>
		<script src="js/Core.js"></script>

		<script src="js/controllers/LoginCtrl.js"></script>
		<script src="js/controllers/JuMeFoodCtrl.js"></script>
		<script src="js/controllers/MenuCtrl.js"></script>
		<script src="js/controllers/RoomCtrl.js"></script>
		<script src="js/controllers/NewRoomCtrl.js"></script>
		<script src="js/controllers/TurntableCtrl.js"></script>
	</head>
	<body ng-app="JuMeFood">
		<div ng-controller="MenuCtrl">
			<ion-side-menus>
				<!-- Center content -->
				<ion-pane ion-side-menu-content>
					<ion-nav-bar type="bar-positive"
						animation="nav-title-slide-ios7"></ion-nav-bar>
					<ion-nav-view></ion-nav-view>
				</ion-pane>

				<!-- Right Menu -->
				<ion-side-menu side="right" is-enabled="canOpenRightMenu()">
					<div ng-show="canShow(['JuMeFood', 'NewRoom'])">
						<div class="bar bar-header bar-assertive">
							<h1 class="title">我的揪食</h1>
						</div>
						<ion-content has-header="true" padding="false">
							<div ng-repeat="room in roomList" 
								class="item item-avatar" ng-click="rMoveToRoom(room)">
								<img ng-src="{{room.master.photo}}"/>
								<h2 class="bloder">{{room.title}}</h2>
								<span class="bloder" style="font-size: 10px;">
									{{room.time | date:'yyyy-MM-dd ah:mm'}}
								</span>
								<br/>
								<span style="font-size: 10px;">
									By {{room.master.name}}
								</span>
							</div>
						</ion-content>
					</div>

					<div ng-show="canShow(['Room', 'Turntable'])">
						<div class="bar bar-header bar-assertive">
							<h1 class="title">意見列表</h1>
						</div>
						<ion-content has-header="true" padding="false">
							<div class="list">
								<div ng-repeat="advise in room.advises" 
									class="item item-avatar item-stable">
									<img ng-src="{{room.members[advise.uid].photo}}"/>
									<h2 class="bloder">{{advise.name}}</h2>
									<span style="font-size: 10px;">
										By {{room.members[advise.uid].name}}
									</span>
								</div><br />

								<div class="item item-icon-right item-stable">
									<span class="bloder">增加意見</span>
									<i class="icon ion-beer"></i>
								</div>
								<div class="item item-icon-right item-stable" 
									ng-click="rMoveToTurnable()">
									<span class="bloder">轉轉樂 ~ Go</span>
									<i class="icon ion-coffee"></i>
								</div>
							</div>

							<div class="list" style="padding-bottom: 50px;"></div>
						</ion-content>
					</div>
				</ion-side-menu>

				<!-- Left  Menu -->
				<ion-side-menu side="left" is-enabled="canOpenLeftMenu()">
					<ion-content has-header="false" padding="false">
						<div class="list">
							<div ng-show="canShow(['Room'])">
								<div class="item item-divider item-energized">
									聊天室功能
								</div>
								<div class="item item-icon-right item-stable">
									<span class="bloder">增加意見</span>
									<i class="icon ion-beer"></i>
								</div>
								<div class="item item-icon-right item-stable">
									<span class="bloder">邀請朋友</span>
									<i class="icon ion-person-add"></i>
								</div>
								<div class="item item-icon-right item-stable">
									<span class="bloder">退出聊天室</span>
									<i class="icon ion-log-out"></i>
								</div><br />
							</div>

							<div ng-show="canShow(['Room', 'Turntable', 'NewRoom'])">
								<div class="item item-divider item-energized">
									個人功能
								</div>
								<div class="item item-icon-right item-stable" 
									ng-click="lMoveTo('JuMeFood')">
									<span class="bloder">首頁</span>
									<i class="icon ion-home"></i>
								</div>
								<div class="item item-icon-right item-stable" 
									ng-click="lMoveTo('NewRoom')">
									<span class="bloder">揪食朋友</span>
									<i class="icon ion-ios7-plus"></i>
								</div>
								<div class="item item-icon-right item-stable"
									ng-show="!canShow(['Room', 'Turntable'])"
									ng-click="lMoveToRoomList()">
									<span class="bloder">我的揪食</span>
									<i class="icon ion-chatboxes"></i>
								</div>
								<div class="item item-icon-right item-stable" 
									ng-click="lMoveTo('Turntable')">
									<span class="bloder">揪食搖搖</span>
									<i class="icon ion-coffee"></i>
								</div><br />
							</div>
						</div>
					</ion-content>
				</ion-side-menu>
			</ion-side-menus>
		</div>
	</body>
</html>