<div>
	<div class="bar bar-header bar-positive">
		<button class="button icon-left ion-navicon button-clear"
			ng-click="slideLeft()"></button>
		<h1 class="title">{{room.title}}</h1>
		<button class="button icon-left ion-android-note button-clear"
			ng-click="slideRight()"></button>
	</div>
	<ion-content has-header="true" padding="true" class="JuMe-background">
		<div class="list" style="padding-bottom: 50px;">
			<div class="item item-divider item-text-wrap" 
				ng-repeat="chat in room.chats | orderObjectBy:'mid'" 
				style="{{chat.uid == selfId ? 'text-align: right;' : ''}}">
				<div ng-click="clickMessage(chat)">
					<img ng-show="!(chat.uid == selfId)" 
						ng-src="{{room.members[chat.uid].photo}}" 
						style="height: 30px;" />
					&nbsp;{{chat.message}}
				</div>
				<div style="font-weight: narmal;font-size: 10px;">
					<span>{{chat.timestamp | date:'yyyy-MM-dd ah:mm'}}</span>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-positive row">
		<button class="button col col-50" ng-click="test()">
			輸入訊息
		</button>
		<button class="button col col-33" ng-click="toSendLocation()" ng-disabled="waitSendingLocation">
			傳送位置
		</button>
	</div>
</div>