<div>
	<ion-content has-header="false" padding="false" class="JuMe-background" style="text-align: center;">
		<div class="row MainButton" style="margin-top: 40px;">
			<div class="col col-80 col-offset-10">
				<img src="images/JuMeGo.png" ng-click="MoveTo('NewRoom')"/>
			</div>
		</div>

		<div class="row MainButton" style="margin-top: 40px;">
			<div class="col col-80 col-offset-10">
				<img src="images/GourmetShake.png" ng-click=""/>
			</div>
		</div>

		<div class="row MainButton" style="margin-top: 40px;">
			<div class="col col-80 col-offset-10">
				<img src="images/NewSuggest.png" ng-click=""/>
			</div>
		</div>
	</ion-content>
</div>