<div>
	<div class="bar bar-header bar-positive">
		<h1 class="title">Jume Food</h1>
	</div>
	<ion-content has-header="true" padding="false" class="JuMe-background" style="text-align: center;">
		<div class="list">
		    <a class="item item-avatar" href="#">
				<img src="venkman.jpg">
				<h2>Venkman</h2>
				<p>Back off, man. I'm a scientist.</p>
		    </a>
		    <a class="item item-avatar" href="#">
				<img src="venkman.jpg">
				<h1>我要推薦</h1>
		    </a>
		    <a class="item item-avatar" href="#NewRoom">
				<span class= "ion-person-stalker"></span>
				<h1>糾食</h1>
		    </a>
		</div>
	</ion-content>
</div>