<div>
	<div class="bar bar-header bar-positive">
		<button class="button icon-left ion-navicon button-clear"
			ng-click="slideLeft()"></button>
		<h1 class="title">揪食轉轉</h1>
	</div>
	<ion-content has-header="true" padding="true" class="JuMe-background">
		<div class="list">
			<div class="item item-divider">
				揪食資訊
			</div>
			<div class="item" style="padding-top: 0;padding-bottom: 0">
				<div class="row">
					<div class="col">
						<span class="bloder">{{room.title}}</span>
						<span style="font-size: 10px;">By {{room.master.name}}</span>
					</div>
				</div>
			</div>
			<div class="item" style="padding: 0">
				<div class="item item-icon-right" ng-click="slideRight()">
					<span ng-show="isNoAdvices()">快點此增加意見 ~ &nbsp;&nbsp;^.&lt;</span>
					<span class="badge badge-assertive" ng-repeat="advice in room.advices"
						style="float: left;" ng-show="advice"> 
						{{advice.name}}
					</span>
					<i class="icon ion-arrow-right-c" ng-show="room.rid != 'self'"></i>
				</div>
			</div><br />

			<div class="item item-divider">
				要吃甚麼好呢?
			</div>
			<div class="item item-stable" style="padding: 0;height: 110px;width: 100%;">
				<div class="row" style="width: 100%;">
					<div class="col col-10">
						<i class="icon ion-play" 
							style="float: right;padding-top: 25px;"></i>
					</div>
					<ul class="slot list col col-100">
			   			<li class="item item-avatar slot-item"
			   				ng-repeat="advice in room.advices">
							<img ng-src="{{room.members[advice.uid].photo}}"/>
							<h2 class="bloder">{{advice.name}}</h2>
							<span style="font-size: 10px;">
								By {{room.members[advice.uid].name}}
							</span>
			   			</li>
					</ul>
				</div>
			</div>
			<button class="button button-full button-assertive" ng-click="go()"
				ng-show="canGo()">
	  			神哪!! 請給我意見 ~ 揪咪 ~ Go!!!
			</button>
			<button class="button button-full button-balanced" ng-show="canShowMap"
				ng-click="toMap()">
	  			按我查看地圖
			</button>
			<div id="playGo"></div>
		</div>
	</ion-content>
</div>
