<div>
	<div class="bar bar-header bar-positive">
		<h1 class="title">美食轉轉樂</h1>
	</div>
	<ion-pane has-header="false" padding="false" class="JuMe-background" style="text-align: center;">
		<div class="jume-table">
			<div class="jume-cell">
				<div>
		   			<ul class="slot list">
			   			<li class="slot-item item">
			   				<div class="jume-table">
			   					<div class="jume-cell">高家涼麵1</div>
			   				</div>
			   			</li>
			   			<li class="slot-item item item-divider">
			   				<div class="jume-table">
			   					<div class="jume-cell">高家涼麵2</div>
			   				</div>
		   				</li>
			   			<li class="slot-item item">
			   				<div class="jume-table">
			   					<div class="jume-cell">高家涼麵3</div>
			   				</div>
			   			</li>
			   			<li class="slot-item item item-divider">
			   				<div class="jume-table">
			   					<div class="jume-cell">高家涼麵4</div>
			   				</div>
		   				</li>
					</ul>
				</div>
				<div>
					<button id="playNormal" class="button button-small button-assertive" style="width:50%">
			  			Go
					</button>
				</div>
			</div>
		</div>
	</ion-pane>
</div>
